<h1>Delivery Tracker</h1>
<p>Know if something gets lost in the mail.</p>
<hr>
<h2>Expecting a package?</h2>

<form action="/add_delivery" method="post">
  <div>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </div>
  <div>
    <label for="supposed_to_arrive_on">Supposed to arrive on</label>
    <input type="date" name="supposed_to_arrive_on" id="supposed_to_arrive_on">
  </div>
  <div>
  <label for="details">Details</label>
  <textarea name="details" id="details"></textarea>
  </div>
  <div>
    <button type="submit">Log delivery</button>
  </div>
</form>

<hr>

<div class="waiting_on">
  <h2>Waiting on</h2>
  <ul>
  <% @pending.each do |delivery| %>
    <li>
      <div><%= delivery.description %></div>
      <div>Supposed to arrive on<%= delivery.supposed_to_arrive_on %></div>
      <div><%= delivery.details %></div>
      <button type="submit">Mark as received</button>
    </li>
    <br>
  <% end %>
  </ul>
</div>

<hr>

<div class="received">
  <h2>Received</h2>
  <ul>
    <% @recieved.each do |done| %>
      <li>
        <div><%= done.description %></div>
     
        <div>Updated <%= time_ago_in_words(Time.now) %> ago
        <a href="/delete_delivery/<%= done.id %>">Delete</a>
        </div>
      </li>
      <br>
    <% end %>
  </ul>
</div>
